# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

plt.style.use('fivethirtyeight')

Imported 2015 American Housing Survey Public Use Flat Files from Census.gov including the National Public Use File (ahs2015n.csv) and Metropolitan Public Use File (ahs2015m.csv) downloaded from https://www.census.gov/programs-surveys/ahs/data/2015/ahs-2015-public-use-file--puf-.html To allow the descriptive labels to be automatically applied to each column as needed, I also imported a separate labels table from the AHS 2015 Value Labels.csv to allow the proper labeling of axes using a data dictionary.
To allow conversion of OMB13CBSA numerical codes to their descriptive metropolitan labels, I imported a code crosswalk from https://public.opendatasoft.com/explore/dataset/core-based-statistical-areas-cbsas-and-combined-statistical-areas-csas/download/?format=xls&timezone=America/Los_Angeles&lang=en&use_labels_for_header=true as the codeset maintained by the OMB is only available as a PDF file.

To improve performance, I only want to import the columns needed in this data analysis instead of the entire 2995 available.

In [2]:
columns=['CONTROL', 'OMB13CBSA', 'VACANCY', 'BLD', 'UNITSIZE', 'TOTROOMS', 'BEDROOMS',
         'BATHROOMS', 'HSHLDTYPE', 'NUMPEOPLE', 'NUMADULTS', 'NUMELDERS', 'NUMYNGKIDS', 'NUMOLDKIDS',
         'NUMVETS', 'NUMNONREL', 'MULTIGEN', 'GRANDHH', 'NUMSUBFAM', 'NUMSECFAM', 'DISHH', 'HHSEX', 
        'HHAGE', 'HHMAR', 'HHRACE', 'HHRACEAS', 'HHRACEPI', 'HHSPAN', 'HHCITSHP', 'HHNATVTY']

In [3]:
ahs_n=pd.read_csv('data/ahs2015n.csv', usecols=columns)
ahs_m=pd.read_csv('data/ahs2015m.csv', usecols=columns)
cbsa=pd.read_csv('data/cbsa.csv')
labels=pd.read_csv('data/AHS 2015 Value Labels.csv')

Verify the file imports:

In [4]:
ahs_n.shape

(69493, 30)

In [5]:
ahs_m.shape

(24886, 30)

In [6]:
cbsa.shape

(1918, 12)

In [7]:
labels.shape

(11121, 8)

For ease of analysis of the AHS data, I will append the national dataset and the metropolitan dataset.

In [8]:
ahs=ahs_n.append(ahs_m)
ahs.shape

(94379, 30)

In [9]:
ahs.columns

Index(['CONTROL', 'TOTROOMS', 'OMB13CBSA', 'BLD', 'HHSEX', 'HHMAR', 'HHSPAN',
       'HHCITSHP', 'HHAGE', 'HHRACE', 'HHRACEAS', 'HHRACEPI', 'HHNATVTY',
       'HSHLDTYPE', 'NUMELDERS', 'NUMADULTS', 'NUMNONREL', 'NUMVETS',
       'NUMYNGKIDS', 'NUMOLDKIDS', 'NUMSUBFAM', 'NUMSECFAM', 'NUMPEOPLE',
       'GRANDHH', 'MULTIGEN', 'UNITSIZE', 'BEDROOMS', 'DISHH', 'BATHROOMS',
       'VACANCY'],
      dtype='object')

In [10]:
ahs.set_index('CONTROL', inplace=True)

In [11]:
ahs.index.name

'CONTROL'

In [12]:
ahs.head(5)

,TOTROOMS,OMB13CBSA,BLD,HHSEX,HHMAR,HHSPAN,HHCITSHP,HHAGE,HHRACE,HHRACEAS,...,NUMSUBFAM,NUMSECFAM,NUMPEOPLE,GRANDHH,MULTIGEN,UNITSIZE,BEDROOMS,DISHH,BATHROOMS,VACANCY
CONTROL,,,,,,,,,,,,,,,,,,,,,
'11000001',7,'37980','02','1','1','2','1',48,'01','-6',...,0,0,3,'2','2','6',3,'2','04','-6'
'11000002',7,'99998','02','2','4','2','1',77,'01','-6',...,0,0,2,'2','1','8',3,'1','04','-6'
'11000003',4,'99998','03','2','6','2','1',24,'02','-6',...,0,0,3,'2','2','3',2,'-9','01','-6'
'11000005',8,'99998','02','1','1','2','1',68,'01','-6',...,0,0,3,'2','5','6',4,'1','05','-6'
'11000006',5,'99998','02','1','6','2','1',20,'01','-6',...,0,0,3,'2','1','-9',3,'2','03','-6'

In [13]:
ahs['OMB13CBSA'].unique()

array(["'37980'", "'99998'", "'99999'", "'47900'", "'35620'", "'14460'",
       "'41860'", "'26420'", "'33100'", "'12060'", "'38060'", "'16980'",
       "'19100'", "'19820'", "'42660'", "'31080'", "'40140'", "'28140'",
       "'38900'", "'38300'", "'35380'", "'39580'", "'19740'", "'32820'",
       "'17460'", "'17140'", "'33340'"], dtype=object)

In [14]:
print(ahs.shape)
ahs.isnull().sum()

(94379, 29)

TOTROOMS      0
OMB13CBSA     0
BLD           0
HHSEX         0
HHMAR         0
HHSPAN        0
HHCITSHP      0
HHAGE         0
HHRACE        0
HHRACEAS      0
HHRACEPI      0
HHNATVTY      0
HSHLDTYPE     0
NUMELDERS     0
NUMADULTS     0
NUMNONREL     0
NUMVETS       0
NUMYNGKIDS    0
NUMOLDKIDS    0
NUMSUBFAM     0
NUMSECFAM     0
NUMPEOPLE     0
GRANDHH       0
MULTIGEN      0
UNITSIZE      0
BEDROOMS      0
DISHH         0
BATHROOMS     0
VACANCY       0
dtype: int64

Cleaning up data to remove all quotation marks from AHS

In [15]:
ahs=ahs.applymap(lambda x: x.replace("'", "") if (isinstance(x, str)) else x)

Cleaning BATHROOMS column to remove leading zeros in data and converting to integer are problematic for data analysis.

In [22]:
ahs['BATHROOMS_NUM']=ahs['BATHROOMS'].apply(pd.to_numeric)

In [23]:
ahs.head(5)

,TOTROOMS,OMB13CBSA,BLD,HHSEX,HHMAR,HHSPAN,HHCITSHP,HHAGE,HHRACE,HHRACEAS,...,NUMSECFAM,NUMPEOPLE,GRANDHH,MULTIGEN,UNITSIZE,BEDROOMS,DISHH,BATHROOMS,VACANCY,BATHROOMS_NUM
CONTROL,,,,,,,,,,,,,,,,,,,,,
'11000001',7,37980,02,1,1,2,1,48,01,-6,...,0,3,2,2,6,3,2,04,-6,4
'11000002',7,99998,02,2,4,2,1,77,01,-6,...,0,2,2,1,8,3,1,04,-6,4
'11000003',4,99998,03,2,6,2,1,24,02,-6,...,0,3,2,2,3,2,-9,01,-6,1
'11000005',8,99998,02,1,1,2,1,68,01,-6,...,0,3,2,5,6,4,1,05,-6,5
'11000006',5,99998,02,1,6,2,1,20,01,-6,...,0,3,2,1,-9,3,2,03,-6,3

Now create a new boolean column Adequate_Bath that validates whether the household has enough bathrooms to dedicate one to the resident in isolation:

In [24]:
def Adequate_Bath(row):
    if(row['NUMPEOPLE']<=1):
        if(row['BATHROOMS_NUM']>=1):
            return True
        else:
            return False
    elif(row['BATHROOMS_NUM']>=1.5):
        return True
    else:
        return False

Applying the function to the AHS dataset...

In [26]:
ahs['ADQ_BATH']=ahs.apply(lambda row: Adequate_Bath(row), axis=1)

In [27]:
ahs.head(5)

,TOTROOMS,OMB13CBSA,BLD,HHSEX,HHMAR,HHSPAN,HHCITSHP,HHAGE,HHRACE,HHRACEAS,...,NUMPEOPLE,GRANDHH,MULTIGEN,UNITSIZE,BEDROOMS,DISHH,BATHROOMS,VACANCY,BATHROOMS_NUM,ADQ_BATH
CONTROL,,,,,,,,,,,,,,,,,,,,,
'11000001',7,37980,02,1,1,2,1,48,01,-6,...,3,2,2,6,3,2,04,-6,4,True
'11000002',7,99998,02,2,4,2,1,77,01,-6,...,2,2,1,8,3,1,04,-6,4,True
'11000003',4,99998,03,2,6,2,1,24,02,-6,...,3,2,2,3,2,-9,01,-6,1,False
'11000005',8,99998,02,1,1,2,1,68,01,-6,...,3,2,5,6,4,1,05,-6,5,True
'11000006',5,99998,02,1,6,2,1,20,01,-6,...,3,2,1,-9,3,2,03,-6,3,True

Now create a new boolean column Adequate_Bedrooms that validates whether the household has enough bedrooms to dedicate one solely to the resident in isolation. Public health authorities define adequate bedrooms as, "Enough bedrooms is defined as a two- or three-person household having at least 2 bedrooms, and a household of four or more having enough bedrooms to allow one person to isolate in a bedroom without forcing three or more people in the household to share a remaining bedroom."

In [31]:
def Adequate_Bed(row):
    if(row['NUMPEOPLE']<=1):
        return True
    elif(row['NUMPEOPLE']==2 or row['NUMPEOPLE']==3):
        if(row['BEDROOMS']>=2):
            return True
        else:
            return False    
    elif(row['NUMPEOPLE']>=4):
        if(((row['BEDROOMS']-1)/row['NUMPEOPLE'])<=2):
            return True
        else:
            return False
    else:
        return False

Now run through test cases to ensure the function is performing as intended:

In [39]:
ahs['ADQ_BED']=ahs.apply(lambda row: Adequate_Bed(row), axis=1)
ahs.sort_values(by='NUMPEOPLE', ascending=False)
ahs

,TOTROOMS,OMB13CBSA,BLD,HHSEX,HHMAR,HHSPAN,HHCITSHP,HHAGE,HHRACE,HHRACEAS,...,GRANDHH,MULTIGEN,UNITSIZE,BEDROOMS,DISHH,BATHROOMS,VACANCY,BATHROOMS_NUM,ADQ_BATH,ADQ_BED
CONTROL,,,,,,,,,,,,,,,,,,,,,
'11025710',5,38060,02,1,1,1,5,46,01,-6,...,2,3,4,3,2,03,-6,3,True,True
'11045557',8,47900,02,1,1,1,4,47,01,-6,...,2,2,5,5,2,05,-6,5,True,True
'11015375',6,38060,02,2,6,1,5,26,01,-6,...,2,4,4,3,1,05,-6,5,True,True
'11082507',8,33100,02,1,1,2,4,57,02,-6,...,2,4,7,5,-9,05,-6,5,True,True
'21018927',7,38900,02,2,1,1,5,26,01,-6,...,2,4,5,4,2,04,-6,4,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
'21014233',5,32820,02,-6,-6,-6,-6,-6,-6,-6,...,-6,-6,-9,3,-6,01,02,1,True,True
'21014234',4,32820,09,-6,-6,-6,-6,-6,-6,-6,...,-6,-6,4,2,-6,01,01,1,True,True
'11073192',4,99998,05,-6,-6,-6,-6,-6,-6,-6,...,-6,-6,-9,2,-6,01,01,1,True,True
'11015156',6,99999,01,-6,-6,-6,-6,-6,-6,-6,...,-6,-6,-9,3,-6,01,06,1,True,True
'11071342',3,40140,02,-6,-6,-6,-6,-6,-6,-6,...,-6,-6,3,1,-6,01,07,1,True,True

# Questions
* 
* Grouped by CBSA metro areas, what percentage of housing units have:
**(A) At least 1.5 bathrooms unless there is only one person
**(B) At least one bedroom than number of people in unit
**There is both (A) and (B)
* Compare across West Coast metropolitan areas and national baseline with table
* Compare across visualizations
* Create visualization of west coast metro areas Covid surge

In [ ]:
cbsa.head(5)