# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

In [19]:
ahs=pd.read_csv('data/ahs2015n.csv')

In [7]:
ahs.head()

,CONTROL,TOTROOMS,PERPOVLVL,JACPRIMARY,JACSECNDRY,JADEQUACY,JARTACCESS,JARTATTRACT,JARTAWARE,JARTECON,...,JOBTYPE22,JOBTYPE23,JOBTYPE24,JOBTYPE25,JOBTYPE26,JOBWORKYR22,JOBWORKYR23,JOBWORKYR24,JOBWORKYR25,JOBWORKYR26
0,'11000001',7,501,'0','0','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
1,'11000002',7,203,'0','0','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
2,'11000003',4,236,'0','0','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
3,'11000005',8,378,'0','0','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
4,'11000006',5,266,'2','2','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'

In [13]:
ahs.shape

(69493, 2995)

In [8]:
ahs.columns

Index(['CONTROL', 'TOTROOMS', 'PERPOVLVL', 'JACPRIMARY', 'JACSECNDRY',
       'JADEQUACY', 'JARTACCESS', 'JARTATTRACT', 'JARTAWARE', 'JARTECON',
       ...
       'JOBTYPE22', 'JOBTYPE23', 'JOBTYPE24', 'JOBTYPE25', 'JOBTYPE26',
       'JOBWORKYR22', 'JOBWORKYR23', 'JOBWORKYR24', 'JOBWORKYR25',
       'JOBWORKYR26'],
      dtype='object', length=2995)

In [10]:
ahs.set_index('CONTROL', inplace=True)

In [11]:
ahs.index.name

'CONTROL'

In [12]:
ahs.head(5)

,TOTROOMS,PERPOVLVL,JACPRIMARY,JACSECNDRY,JADEQUACY,JARTACCESS,JARTATTRACT,JARTAWARE,JARTECON,JARTIDENT,...,JOBTYPE22,JOBTYPE23,JOBTYPE24,JOBTYPE25,JOBTYPE26,JOBWORKYR22,JOBWORKYR23,JOBWORKYR24,JOBWORKYR25,JOBWORKYR26
CONTROL,,,,,,,,,,,,,,,,,,,,,
'11000001',7,501,'0','0','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
'11000002',7,203,'0','0','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
'11000003',4,236,'0','0','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
'11000005',8,378,'0','0','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
'11000006',5,266,'2','2','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'

In [14]:
ahs['OMB13CBSA'].unique()

array(["'37980'", "'99998'", "'99999'", "'47900'", "'35620'", "'14460'",
       "'41860'", "'26420'", "'33100'", "'12060'", "'38060'", "'16980'",
       "'19100'", "'19820'", "'42660'", "'31080'", "'40140'"],
      dtype=object)

In [16]:
print(ahs.shape)
ahs.isnull().sum()

(69493, 2994)

TOTROOMS       0
PERPOVLVL      0
JACPRIMARY     0
JACSECNDRY     0
JADEQUACY      0
              ..
JOBWORKYR22    0
JOBWORKYR23    0
JOBWORKYR24    0
JOBWORKYR25    0
JOBWORKYR26    0
Length: 2994, dtype: int64

In [20]:
cbsa=pd.read_csv('data/cbsa.csv')

In [21]:
cbsa.head(5)

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
0,10500,NaN,NaN,"Albany, GA",Metropolitan Statistical Area,NaN,NaN,Terrell County,Georgia,13.0,273.0,Outlying
1,11260,NaN,NaN,"Anchorage, AK",Metropolitan Statistical Area,NaN,NaN,Anchorage Municipality,Alaska,2.0,20.0,Central
2,12060,NaN,122.0,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,NaN,"Atlanta--Athens-Clarke County--Sandy Springs, ...",Clayton County,Georgia,13.0,63.0,Central
3,12060,NaN,122.0,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,NaN,"Atlanta--Athens-Clarke County--Sandy Springs, ...",DeKalb County,Georgia,13.0,89.0,Central
4,12060,NaN,122.0,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,NaN,"Atlanta--Athens-Clarke County--Sandy Springs, ...",Pickens County,Georgia,13.0,227.0,Outlying