# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

In [4]:
ahs=pd.read_csv('data/ahs2015n.csv')

In [7]:
ahs.head()

,CONTROL,TOTROOMS,PERPOVLVL,JACPRIMARY,JACSECNDRY,JADEQUACY,JARTACCESS,JARTATTRACT,JARTAWARE,JARTECON,...,JOBTYPE22,JOBTYPE23,JOBTYPE24,JOBTYPE25,JOBTYPE26,JOBWORKYR22,JOBWORKYR23,JOBWORKYR24,JOBWORKYR25,JOBWORKYR26
0,'11000001',7,501,'0','0','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
1,'11000002',7,203,'0','0','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
2,'11000003',4,236,'0','0','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
3,'11000005',8,378,'0','0','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
4,'11000006',5,266,'2','2','2','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'

In [13]:
ahs.shape

(69493, 2995)

In [8]:
ahs.columns

Index(['CONTROL', 'TOTROOMS', 'PERPOVLVL', 'JACPRIMARY', 'JACSECNDRY',
       'JADEQUACY', 'JARTACCESS', 'JARTATTRACT', 'JARTAWARE', 'JARTECON',
       ...
       'JOBTYPE22', 'JOBTYPE23', 'JOBTYPE24', 'JOBTYPE25', 'JOBTYPE26',
       'JOBWORKYR22', 'JOBWORKYR23', 'JOBWORKYR24', 'JOBWORKYR25',
       'JOBWORKYR26'],
      dtype='object', length=2995)

In [10]:
ahs.set_index('CONTROL', inplace=True)

In [11]:
ahs.index.name

'CONTROL'

In [12]:
ahs.head(5)

,TOTROOMS,PERPOVLVL,JACPRIMARY,JACSECNDRY,JADEQUACY,JARTACCESS,JARTATTRACT,JARTAWARE,JARTECON,JARTIDENT,...,JOBTYPE22,JOBTYPE23,JOBTYPE24,JOBTYPE25,JOBTYPE26,JOBWORKYR22,JOBWORKYR23,JOBWORKYR24,JOBWORKYR25,JOBWORKYR26
CONTROL,,,,,,,,,,,,,,,,,,,,,
'11000001',7,501,'0','0','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
'11000002',7,203,'0','0','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
'11000003',4,236,'0','0','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
'11000005',8,378,'0','0','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
'11000006',5,266,'2','2','2','0','0','0','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'